@import "./main.scss";
@import "./loader.scss";

html {
  // control for all the font size in the app - if you set to 0.5 all the fonts will divided by half
  font-size: 1px;
  // control the direction for the hole app - change to ltr for english applications
  direction: rtl;
  // set to scroll for the app will not move right and left in pages that have or haven't a scroll
  overflow-y: scroll;
 
}

body {
  margin: 0;
  font-family: RoundedMplus1c-Regular;


 /*  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  */
}

.pointer {
  cursor: pointer;
}

.relative {
  position: relative;
}

.app-container {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-rows: 90px auto;
  
 
}

.app-header {
  padding: 0 300rem;
 
}

.app-body {
  padding: 30rem auto 20rem;
/*   border-top: solid 2px #0255a4;
  border-bottom: solid 1px #0255a4; */
}

.app-footer {
/*   box-shadow: 4px 5px 13px 0 rgba(0, 0, 0, 0.25); */
  padding: 0 300rem;

}

.login-container {
  padding: 0 200rem;
  border-radius: 2px;
  background-image: linear-gradient(251deg, #1581eb, #044e98);
}

.Header {
  position: fixed;
  height: 90rem;
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  z-index: 10;
}

.side-menu-overflow-item {
  overflow: hidden;
  transition: height 0.3s ease-out;
}

.price-list-container {
  width: 100vw;
  height: 100vh;
  color: black;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 50;
  animation: 0.5s ease-in 0s 1 slideInFromLeft;
  animation-direction: backwards;
  // animation: 1s ease-out 0s 1 slideInFromLeft;
}

.mobile-show {
  display: none !important;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%) translateY(-100%);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

//  handle retina displays
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  html {
    font-size: 1px;
  }
}

// handle 4k retina displays
@media (-webkit-min-device-pixel-ratio: 4), (min-resolution: 192dpi) {
  html {
    font-size: 1px;
  }
}

@media (max-width: 1600px) {
  html {
    font-size: 0.9px;
  }
  .app-header {
    padding: 0 100rem;
  }
  .app-body {
    padding: 0 100rem;
  }
  .app-footer {
    padding: 0 100rem;
  }
}

@media (max-width: 1300px) {
  html {
    font-size: 0.8px;
  }
  .app-header {
    padding: 0 50rem;
  }
  .app-body {
    padding: 0 50rem;
  }
  .app-footer {
    padding: 0 50rem;
  }

  .login-container {
    padding: 0 100rem;
  }
}

@media (max-width: 1100px) {
  html {
    font-size: 0.7px;
  }
}

@media (max-width: 800px) {
  .App-main {
    grid-template-columns: none;
    grid-template-rows: auto auto;
  }
  .app-header {
    padding: 0;
  }
  .app-body {
    padding: 0 50rem;
  }
  .app-footer {
    padding: 0 50rem;
  }
  .mobile-show {
    display: initial !important;
  }
  .mobilesa-hide {
    display: none !important;
  }
  .tires-select {
    margin-top: 20rem;
  }
}
