// main styles for the app
// use @import "./assets/styles/example.scss";

.main-container {
  text-align: center;
  min-height: 100vh;
  display: grid;
  // define your header body and footer height
  grid-template-rows: 85rem auto 110rem;

  &-body {
    display: grid;
    grid-template-columns: 350rem auto;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
